.header {
    /* background-color: antiquewhite; */
    // position: fixed;
    // display: flex;
    // flex-direction: column;
    // width: 80%;
    // left: 10%;
    // z-index: 10;
    // top: 42px;
    // padding-top: 8px;
}

.content {
    // margin-top: 64px;
    // margin-bottom: 64px;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    /* background-color: rgb(89, 214, 145); */

}



/* anime({
    targets: '#loader-1',
    strokeDashoffset: -320,
    easing: 'linear',
    duration: 1000,
    loop: true
}); */