.container {
    display: flex;
    /* margin-left: 2%; */
    /* margin-right: 2%; */
    /* background-color: bisque; */
    justify-content: center;
    /* padding-bottom: 200px; */
}

.cards {
    /* margin-top: 16px; */
    row-gap: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: .85rem;
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    /* min-width: 250px; */
    justify-content: space-around;
    // background-color: dimgray;
}

@media screen and (max-width:1050px) {
    .cards {
        width: 90vw
    }
}

@media screen and (max-width:580px) {
    .cards {
        width: 96vw
    }
}