.wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: .2rem;
    /* background-color: rgba(167, 167, 167, 0.795); */
}

@media screen and (max-width:580px) {
    .wrapper {
        width: 95%;
    }

    .row {
        flex-direction: column;
    }
}

.row {
    display: flex;
    /* width: 100%; */
    gap: .2rem;
    /* background-color: #256ce1; */
}

.my_input {
    display: flex;
    width: 100%;
    padding-left: .2rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    border: .15rem solid #5f5f5f !important;
    border-radius: .3rem;
    outline: none;
    background-color: transparent;
    font-size: .85rem;
    font-family: Arial, Helvetica, sans-serif;

}

.my_textarea {
    border-radius: .3rem;
    padding-left: .2rem;
    padding-top: .2rem;
    width: 100%;
    resize: none;
    border: .15rem solid #5f5f5f;
    font-size: .85rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    outline: none;
    line-height: 1rem;
}

/***************** CUSTOM SCROLL ***********************/
/* ширина scrollbar */
.my_textarea::-webkit-scrollbar {
    width: .3rem;

}

/* цвет дорожки */
.my_textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    /* background-color: #f9f9fd; */
    border-radius: 0px;
}

.my_textarea::-webkit-scrollbar-thumb {
    /* закругления плашки */
    border-radius: 10px;
    /* цвет плашки */
    background: linear-gradient(180deg, #afafaf, #555555);
    /* border: 3px solid orange; */
}