@import-normalize;
/* :focus::-webkit-input-placeholder{color: transparent;}
:focus::-moz-placeholder{color: transparent;}
:focus::placeholder{color: transparent;} */







.field__scroll {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-y: scroll;
    margin: 0% 2% 0% 2%;
    height: 100px;
    /* width: 100%; */
}